#linkBtn {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 20%;
    height: 55px;
    cursor: pointer;
    margin: auto;
    border-radius: 30px;
    transition: 130ms;
}
#linkBtn a{
    display: block;
    width: 100%;
    height: 100%;
    color: rgb(12, 113, 207);
    text-align: center;
    margin-top:30px;
    border-radius: 40px;
    font-family: sans-serif;
    font-weight: bold;
    /* box-shadow: 1px 1px 1px red; */
    position: relative;
    bottom: 30%;
}
#linkBtn a:visited{
    color: rgb(84, 140, 193);;
}
#linkBtn:hover{
    transform: translateX(-5px);
    transform: translateY(-5px);
    transition:130ms;
    background-color: rgb(84, 140, 193);
    box-shadow: 1px 1px 8px black;
}
#linkBtn a:hover{
    color: white;
}
@media screen and (max-width: 768px) {
    #linkBtn{
        display: flex;
        width: 65%;
    }
}